# This is where you put your backend declaration. Here are some examples:
#
# backend("s3",
#   bucket:         "<%= options[:bucket] || "terraform-state-:ACCOUNT-:REGION-:ENV" %>",
#   key:            ":REGION/:ENV/:BUILD_DIR/terraform.tfstate", # variable notation expanded by terraspace IE: us-west-2/dev/modules/vm/terraform.tfstate
#   region:         ":REGION",
#   encrypt:        true,
#   dynamodb_table: "terraform_locks"
# )
