module <%= gem_class_name %>
  class Pr
    # Implement this method.
    # Method should update existing comment instead of always creating new comment.
    # Otherwise it gets noisy.
    # Remember to also uncomment out the definition in
    #
    #   <%= gem_class_name %>::Interface#comment(url)
    #
    # If CI system does not support PRs and comments. Can delete this class entirely.
    #
    def comment(url)
    end
  end
end
