# Example:
# require "client_library"

module TerraspacePlugin<%= camel_name %>
  module Clients
    extend Memoist

    # Example:
    # def client_resource
    #   ClientResource.new
    # end
    # memoize :client_resource
  end
end
