source "https://rubygems.org"

<%
base = ENV['TS_EDGE_ROOT'] || "#{ENV['HOME']}/environment/terraspace-edge"
-%>
gem "terraspace", path: "<%= base %>/terraspace"
gem "rspec-terraspace", path: "<%= base %>/rspec-terraspace"
gem "terraspace_provider_<%= options[:provider] %>", path: "<%= base %>/terraspace_provider_<%= options[:provider] %>"
